# IDEA
.idea
*.iml

# eclipse
.classpath
.settings
.project

# maven target
*.releaseBackup
*.versionsBackup
pom.xml.mvn-build
target

# gradle
.gradle
*.gradle
build

# java
*.class

# mac
.DS_Store
._

# node
node_modules

#GeoLiteDB
*.mmdb

# dbdump
dbdump/db
test/js/player/mock-keys


#allure
allure-results
*.p12

devex/.terraform*